{{!--Joshua Griep, Sam Bleyl, CS340, adopted from the react portion the course material--}}

<h1>Order Details</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Count</th>
            <th>Price Per Count</th>
            <th>Total Sale</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname }}
        {{#each invoice}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.indprice}}</td>
            <td>{{this.totalproduct}}</td>

            {{! DELETE form }}
            <form id='delete_orderdetails_form' method='POST' action='/invoices/delete'>
                <input type='hidden' name='delete_orderdetail_id' value='{{this.ID}}' />
                <input type='hidden' name='delete_orderdetail_name' value='{{this.productName}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! UPDATE form }}
<h2>Update an order object</h2>
<form class="cuForm" id="update_orderdetails_form" method='POST' action='/invoices/update'>
    <label>Item ID:</label>
    <select name="update_orderdetails_id" required>
    <option disabled selected>Select…</option>
    {{#each invoice}}
        <option value="{{this.ID}}">#{{this.ID}} — {{this.productName}}</option>
    {{/each}}
    </select>
    <label>Count:</label>
    <input id="update_orderdetails_count" name="update_orderdetails_count" type="number" step="1" required>
    <label>Price:</label>
    <input id="update_orderdetails_count" name="update_orderdetails_price" type="number" step="0.01" required>
    


    <button type="submit">Update</button>
</form>