{{!--Joshua Griep, Sam Bleyl, CS340, adopted from the react portion the course material--}}

<h1>Orders</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Order Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Helped by</th>
            <th>Estimated delivery</th>
            <th>Order Status</th>
            <th>Subtotal</th>
            <th>Tax</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each orders}}
        <tr id="order-{{this.id}}">
            <td>{{this.id}}</td>
            <td>{{this.customerFirst}}</td>
            <td>{{this.customerLast}}</td>
            <td>{{this.employee}}</td>
            <td>{{this.estimate}}</td>
            <td>{{this.status}}</td>
            <td class="subtotal">{{this.subtotal}}</td>
            <td class="tax">{{this.tax}}</td>
            <td class="total">{{this.total}}</td>

 
            <td><a href="/orderdetails/{{this.id}}">View Order</a></td>
{{! DELETE form }}            
            <td>
              <button class="delete-order" data-id="{{this.id}}">Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

<section>
{{! UPDATE form }}
<h2>Modify an order</h2>
<form class="cuForm" id="update_order_form">
  <label>Order to Update:</label>
  <select name="update_order_id" id="update_order_id" required>
    <option value="" disabled selected>Select an order</option>
    {{#each orders}}
      <option value="{{this.id}}">#{{this.id}} — sold to {{this.customerLast}}</option>
    {{/each}}
  </select>

  <label>New Customer:</label>
  <select name="update_order_customer" id="update_order_customer" required>
    <option value="" disabled selected>Select a customer</option>
    {{#each customers}}
      <option value="{{this.id}}">#{{this.id}} — {{this.first}} {{this.last}}</option>
    {{/each}}
  </select>

  <label>New Employee:</label>
  <select name="update_order_employee" id="update_order_employee" required>
    <option value="" disabled selected>Select an employee</option>
    {{#each employees}}
      <option value="{{this.id}}">#{{this.id}} — {{this.first}} {{this.last}}</option>
    {{/each}}
  </select>

   <label>New Estimate:</label>
 <input
   type="date"
   name="update_order_estimate"
   id="update_order_estimate"
   required
 />

 <label>New Status:</label>
    <select name="update_order_status" id="update_order_status" required>
    <option value="Pending">Pending</option>
    <option value="In-Transit">In-Transit</option>
    <option value="Delivered">Delivered</option>
    <option value="Cancelled">Cancelled</option>
    </select>

  <button type="submit">Update Order</button>
</form>
</section>

<script src="/js/delete_order.js"></script>
<script src="/js/update_order.js"></script>