{{!-- Joshua Griep, Sam Bleyl, CS340 --}}

<h1>Products</h1>

{{! READ table }}
<table id="products-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    {{#each products}}
      <tr data-value="{{this.id}}">
        <td>{{this.name}}</td>
        <td>{{this.type}}</td>
        <td>{{this.price}}</td>

        {{! DELETE button cell }}
        <td>
          <button class="delete-product" data-id="{{this.id}}">Delete</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<section>
<h2>New Product</h2>
<form class="cuForm" id="create_product_form" method="POST" action="/add-product">
  <label for="create_product_name">Name: </label>
  <input type="text" name="create_product_name" id="create_product_name" required />

  <label for="create_product_type">Type: </label>
  <input type="text" name="create_product_type" id="create_product_type" required />

  <label for="create_product_price">Price: </label>
  <input type="number" name="create_product_price" id="create_product_price" step="0.01" required />

  <input type="submit" value="Add Product" />
</form>
</section><br>
<section>
<h2>Update a Product</h2>
<form class="cuForm" id="update_product_form">
  <label>Product:</label>
  <select name="update_product_id" required>
    <option disabled selected>Select…</option>
    {{#each products}}
      <option value="{{this.id}}">#{{this.id}} — {{this.name}}</option>
    {{/each}}
  </select>

  <label for="update_product_name">Name:</label>
  <input id="update_product_name" name="update_product_name" required />

  <label for="update_product_type">Type:</label>
  <input id="update_product_type" name="update_product_type" required />

  <label for="update_product_price">Price:</label>
  <input id="update_product_price" name="update_product_price" type="number" step="0.01" required />

  <button type="submit">Update</button>
</form>
</section>

<script src="/js/add_product.js"></script>
<script src="/js/update_product.js"></script>
<script src="/js/delete_product.js"></script>
