{{!--Joshua Griep, Sam Bleyl, CS340, adopted from the react portion the course material--}}

<h1>Products</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each products.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.type}}</td>
            <td>{{this.price}}</td>

 {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_product_id' value='{{this.id}}' />
                <input type='hidden' name='delete_product_name' value='{{this.fname}} {{this.lname}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>New Inventory Item</h2>
<form class='cuForm' id='create_product_form'>
    <label for='create_customer_name'>Product Name: </label>
    <input type='text' name='create_product_name' id='create_product_name' required />

    <label for='create_product_type'>Product type: </label>
    <input type='text' name='create_product_type' id='create_product_type' required/>
    
    <label for='create_product_price'>Price: </label>
    <input type='number' min="1" step=".01" name='create_product_price' id='create_product_price' required/>

    <input type='submit' value="Add to inventory list!" />
</form>

{{! UPDATE form }}
<h2>Update a product</h2>
<form class='cuForm' id='update_product_form'>
    <label for='update_product_id'>Product to Update: </label>
    <select name='update_product_id' id='update_product_id' required>
        <option value='' disabled selected>Select a Product</option>
        {{#each products}}
        <option value='{{this.id}}' required>
            {{this.ID}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_product_type'>Product type: </label>
    <input type='text' name='update_product_type' id='update_product_type' required/>
    
    <label for='update_product_price'>Price: </label>
    <input type='number' min="1" step=".01" name='update_product_price' id='update_product_price' required/>

    <input type='submit' value="Update the product!"/>
</form>