{{!--Joshua Griep, Sam Bleyl, CS340, adopted from the react portion the course material--}}

<<<<<<< HEAD
<h1>Customers</h1>
=======
<h1>Products</h1>
>>>>>>> 185142f (Initial commit on sbleyl branch)

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each products.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each products}}
        <tr>
<<<<<<< HEAD
=======
            <td>{{this.id}}</td>
>>>>>>> 185142f (Initial commit on sbleyl branch)
            <td>{{this.name}}</td>
            <td>{{this.type}}</td>
            <td>{{this.price}}</td>

 {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_product_id' value='{{this.id}}' />
                <input type='hidden' name='delete_product_name' value='{{this.fname}} {{this.lname}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<<<<<<< HEAD

=======
>>>>>>> 185142f (Initial commit on sbleyl branch)
